In [56]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [57]:
# Dữ liệu lịch sử giá
price_history_df = pd.read_csv(r'D:/Data mining/LAB/Lab01/data/FPT_PriceHistory.csv', nrows=1001)
# Dữ liệu chỉ số tài chính
financial_indicator_df = pd.read_csv(r'D:/Data mining/LAB/Lab01/data/FPT_FinancialIndicator.csv', nrows=63)

In [58]:
price_history_df.head()

,NGÀY,GIÁ MỞ CỬA,GIÁ CAO NHẤT,GIÁ THẤP NHẤT,GIÁ ĐÓNG CỬA,THAY ĐỔI GIÁ,% THAY ĐỔI,KHỐI LƯỢNG
0,14/03/2025,"135,600.00","136,300.00","130,800.00","131,400.00","-5,100.00",-0.04,"16,094,000.00"
1,13/03/2025,"136,100.00","138,000.00","136,100.00","136,500.00",600.00,0.00,"3,610,200.00"
2,12/03/2025,"137,700.00","138,700.00","135,900.00","135,900.00","-1,600.00",-0.01,"6,185,000.00"
3,11/03/2025,"138,000.00","138,500.00","137,000.00","137,500.00","-1,800.00",-0.01,"5,784,400.00"
4,10/03/2025,"141,500.00","141,500.00","139,200.00","139,300.00","-2,100.00",-0.01,"5,323,000.00"

In [59]:
financial_indicator_df.head()

,CHỈ TIÊU,Q4/2024,Q3/2024,Q2/2024,Q1/2024,Q4/2023,Q3/2023,Q2/2023,Q1/2023,Q4/2022,...,Q2/2017,Q1/2017,Q4/2016,Q3/2016,Q2/2016,Q1/2016,Q4/2015,Q3/2015,Q2/2015,Q1/2015
0,Chỉ tiêu Báo cáo kết quả kinh doanh (Tỷ đồng),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Doanh thu thuần,"17,607,817,805,892.00","15,902,821,715,757.00","15,245,226,416,020.00","14,092,928,413,699.00","14,690,412,703,323.00","13,761,744,975,857.00","12,484,364,264,902.00","11,681,378,883,303.00","13,042,426,271,109.00",...,"9,946,702,598,780.00","9,418,119,567,621.00","12,399,573,089,770.00","9,755,288,350,096.00","8,958,526,432,579.00","8,466,518,261,019.00","10,449,042,783,674.00","9,527,463,506,576.00","9,328,539,915,897.00","8,641,481,450,290.00"
2,Tăng trưởng doanh thu,19.86%,15.56%,22.11%,20.64%,12.64%,23.44%,23.66%,20.05%,21.85%,...,11.03%,11.24%,18.67%,2.39%,-3.97%,-2.02%,-31.85%,-29.31%,-12.70%,-20.48%
3,Lợi nhuận gộp,"6,478,973,351,926.00","6,158,955,664,406.00","5,651,357,322,898.00","5,510,465,680,087.00","5,631,863,560,161.00","5,496,368,967,016.00","4,633,824,307,037.00","4,567,879,000,694.00","5,241,273,784,162.00",...,"2,431,579,550,839.00","2,075,513,389,017.00","2,787,127,572,335.00","2,216,581,048,829.00","1,933,550,359,469.00","1,686,151,346,915.00","2,158,680,586,355.00","1,914,596,624,885.00","1,801,912,782,980.00","1,689,717,875,940.00"
4,Tăng trưởng lợi nhuận gộp,15.04%,12.05%,21.96%,20.64%,7.45%,26.08%,20.59%,15.55%,28.01%,...,25.76%,23.09%,29.11%,15.77%,7.31%,-0.21%,22.08%,19.17%,15.95%,25.62%

In [60]:
cols_to_convert = ['GIÁ MỞ CỬA', 'GIÁ CAO NHẤT', 'GIÁ THẤP NHẤT', 
                   'GIÁ ĐÓNG CỬA', 'THAY ĐỔI GIÁ', 'KHỐI LƯỢNG']

# Loại bỏ dấu phẩy và ép kiểu về float
for col in cols_to_convert:
    price_history_df[col] = (
        price_history_df[col]
        .astype(str)
        .str.replace(',', '', regex=False)
        .str.strip()
    )
    price_history_df[col] = pd.to_numeric(price_history_df[col], errors='coerce')

# % THAY ĐỔI là dạng tỉ lệ, đã là float nên giữ nguyên
price_history_df['% THAY ĐỔI'] = pd.to_numeric(price_history_df['% THAY ĐỔI'], errors='coerce')

# Kiểm tra kết quả
print(price_history_df.dtypes)

NGÀY              object
GIÁ MỞ CỬA       float64
GIÁ CAO NHẤT     float64
GIÁ THẤP NHẤT    float64
GIÁ ĐÓNG CỬA     float64
THAY ĐỔI GIÁ     float64
% THAY ĐỔI       float64
KHỐI LƯỢNG       float64
dtype: object

In [61]:
for col in financial_indicator_df.columns:
    if col != 'CHỈ TIÊU':
        financial_indicator_df[col] = (
            financial_indicator_df[col]
            .astype(str)
            .str.replace(',', '', regex=False)  # bỏ dấu phẩy
            .str.replace('%', '', regex=False)  # bỏ ký hiệu %
            .str.strip()
        )
        financial_indicator_df[col] = pd.to_numeric(financial_indicator_df[col], errors='coerce')

# Kiểm tra kết quả
print(financial_indicator_df.dtypes)

CHỈ TIÊU     object
Q4/2024     float64
Q3/2024     float64
Q2/2024     float64
Q1/2024     float64
Q4/2023     float64
Q3/2023     float64
Q2/2023     float64
Q1/2023     float64
Q4/2022     float64
Q3/2022     float64
Q2/2022     float64
Q1/2022     float64
Q4/2021     float64
Q3/2021     float64
Q2/2021     float64
Q1/2021     float64
Q4/2020     float64
Q3/2020     float64
Q2/2020     float64
Q1/2020     float64
Q4/2019     float64
Q3/2019     float64
Q2/2019     float64
Q1/2019     float64
Q4/2018     float64
Q3/2018     float64
Q2/2018     float64
Q1/2018     float64
Q4/2017     float64
Q3/2017     float64
Q2/2017     float64
Q1/2017     float64
Q4/2016     float64
Q3/2016     float64
Q2/2016     float64
Q1/2016     float64
Q4/2015     float64
Q3/2015     float64
Q2/2015     float64
Q1/2015     float64
dtype: object

In [62]:
price_history_df.loc[price_history_df['THAY ĐỔI GIÁ'].isna(), 'THAY ĐỔI GIÁ'] = price_history_df['GIÁ ĐÓNG CỬA'] - price_history_df['GIÁ ĐÓNG CỬA'].shift(-1)
price_history_df.loc[price_history_df['% THAY ĐỔI'].isna(), '% THAY ĐỔI'] = price_history_df['THAY ĐỔI GIÁ'] / price_history_df['GIÁ ĐÓNG CỬA'].shift(-1)
price_history_df.iloc[-1, price_history_df.columns.get_loc('THAY ĐỔI GIÁ')] = 0.00
price_history_df.iloc[-1, price_history_df.columns.get_loc('% THAY ĐỔI')] = 0.00

In [63]:
# Tạo split index
split_index_1 = financial_indicator_df[financial_indicator_df.iloc[:, 0].str.contains("Chỉ tiêu Bảng cân đối (Tỷ đồng)", regex=False)].index.values[0]
split_index_2 = financial_indicator_df[financial_indicator_df.iloc[:, 0].str.contains("Chỉ số định giá", regex=False)].index.values[0]
split_index_3 = financial_indicator_df[financial_indicator_df.iloc[:, 0].str.contains("Chỉ số hiệu quả hoạt động", regex=False)].index.values[0]
split_index_4 = financial_indicator_df[financial_indicator_df.iloc[:, 0].str.contains("Chỉ số hiệu suất hoạt động", regex=False)].index.values[0]
split_index_5 = financial_indicator_df[financial_indicator_df.iloc[:, 0].str.contains("Chỉ số cơ cấu nguồn vốn", regex=False)].index.values[0]
split_index_6 = financial_indicator_df[financial_indicator_df.iloc[:, 0].str.contains("Chỉ số khả năng thanh toán", regex=False)].index.values[0]
split_index_7 = financial_indicator_df[financial_indicator_df.iloc[:, 0].str.contains("Thông tin doanh nghiệp", regex=False)].index.values[0]

In [64]:
# Tạo các dataframe được tách từ Financial Indicator 
Income_Statement_df = financial_indicator_df.iloc[1:split_index_1].reset_index(drop=True)
Balance_Sheet_df = financial_indicator_df.iloc[split_index_1 + 1:split_index_2].reset_index(drop=True)
Valuation_Ratios_df = financial_indicator_df.iloc[split_index_2 + 1:split_index_3].reset_index(drop=True)
Profitability_Ratios_df = financial_indicator_df.iloc[split_index_3 + 1:split_index_4].reset_index(drop=True)
Efficiency_Ratios_df = financial_indicator_df.iloc[split_index_4 + 1:split_index_5].reset_index(drop=True)
Capital_Structure_Ratios_df = financial_indicator_df.iloc[split_index_5 + 1:split_index_6].reset_index(drop=True)
Liquidity_Ratios_df = financial_indicator_df.iloc[split_index_6 + 1:split_index_7].reset_index(drop=True)
Company_Information_df = financial_indicator_df.iloc[split_index_7 + 1:].reset_index(drop=True)

In [65]:
print(Income_Statement_df.head())
print(Balance_Sheet_df.head())
print(Valuation_Ratios_df.head())
print(Profitability_Ratios_df.head())
print(Efficiency_Ratios_df.head())
print(Capital_Structure_Ratios_df.head())
print(Liquidity_Ratios_df.head())   
print(Company_Information_df.head())

                            CHỈ TIÊU       Q4/2024       Q3/2024  \
0                    Doanh thu thuần  1.760782e+13  1.590282e+13
1              Tăng trưởng doanh thu  1.986000e+01  1.556000e+01
2                      Lợi nhuận gộp  6.478973e+12  6.158956e+12
3          Tăng trưởng lợi nhuận gộp  1.504000e+01  1.205000e+01
4            Lợi nhuận thuần từ HĐKD  2.922047e+12  2.948226e+12

        Q2/2024       Q1/2024       Q4/2023       Q3/2023       Q2/2023  \
0  1.524523e+13  1.409293e+13  1.469041e+13  1.376174e+13  1.248436e+13
1  2.211000e+01  2.064000e+01  1.264000e+01  2.344000e+01  2.366000e+01
2  5.651357e+12  5.510466e+12  5.631864e+12  5.496369e+12  4.633824e+12
3  2.196000e+01  2.064000e+01  7.450000e+00  2.608000e+01  2.059000e+01
4  2.640453e+12  2.515527e+12  2.386698e+12  2.438361e+12  2.189766e+12

        Q1/2023       Q4/2022  ...       Q2/2017       Q1/2017       Q4/2016  \
0  1.168138e+13  1.304243e+13  ...  9.946703e+12  9.418120e+12  1.239957e+13
1  2.005000e+01  2.185000e+01  ...  1.103000e+01  1.124000e+01  1.867000e+01
2  4.567879e+12  5.241274e+12  ...  2.431580e+12  2.075513e+12  2.787128e+12
3  1.555000e+01  2.801000e+01  ...  2.576000e+01  2.309000e+01  2.911000e+01
4  2.096933e+12  1.978262e+12  ...  7.791167e+11  6.299110e+11  9.860456e+11

        Q3/2016       Q2/2016       Q1/2016       Q4/2015       Q3/2015  \
0  9.755288e+12  8.958526e+12  8.466518e+12  1.044904e+13  9.527464e+12
1  2.390000e+00 -3.970000e+00 -2.020000e+00 -3.185000e+01 -2.931000e+01
2  2.216581e+12  1.933550e+12  1.686151e+12  2.158681e+12  1.914597e+12
3  1.577000e+01  7.310000e+00 -2.100000e-01  2.208000e+01  1.917000e+01
4  7.490138e+11  6.743605e+11  5.547813e+11  8.434923e+11  6.218268e+11

        Q2/2015       Q1/2015
0  9.328540e+12  8.641481e+12
1 -1.270000e+01 -2.048000e+01
2  1.801913e+12  1.689718e+12
3  1.595000e+01  2.562000e+01
4  7.116036e+11  6.289410e+11

[5 rows x 41 columns]
                               CHỈ TIÊU       Q4/2024       Q3/2024  \
0                          Tổng tài sản  7.201324e+13  6.758159e+13
1              Tăng trưởng Tổng tài sản  1.937000e+01  8.800000e+00
2                      Tài sản ngắn hạn  4.547550e+13  4.260511e+13
3          Tăng trưởng tài sản ngắn hạn  2.388000e+01  7.770000e+00
4                       Tài sản dài hạn  2.653774e+13  2.497648e+13

        Q2/2024       Q1/2024       Q4/2023       Q3/2023       Q2/2023  \
0  6.528625e+13  6.202471e+13  6.032528e+13  6.211268e+13  6.052439e+13
1  7.870000e+00  2.224000e+01  1.678000e+01  1.267000e+01  7.510000e+00
2  4.083523e+13  3.767915e+13  3.670954e+13  3.953194e+13  3.875843e+13
3  5.360000e+00  2.762000e+01  1.867000e+01  1.209000e+01  4.300000e+00
4  2.445101e+13  2.434556e+13  2.361573e+13  2.258073e+13  2.176597e+13

        Q1/2023       Q4/2022  ...       Q2/2017       Q1/2017       Q4/2016  \
0  5.074116e+13  5.165541e+13  ...  2.804580e+13  2.800393e+13  2.991245e+13
1 -8.740000e+00 -3.800000e+00  ...  1.066000e+01  1.340000e+01  1.512000e+01
2  2.952449e+13  3.093392e+13  ...  2.022092e+13  2.026490e+13  2.208204e+13
3 -1.937000e+01 -1.191000e+01  ...  1.359000e+01  1.605000e+01  1.495000e+01
4  2.121667e+13  2.072148e+13  ...  7.824884e+12  7.739026e+12  7.830411e+12

        Q3/2016       Q2/2016       Q1/2016       Q4/2015       Q3/2015  \
0  2.639793e+13  2.534450e+13  2.469545e+13  2.598320e+13  2.367716e+13
1  1.149000e+01  1.224000e+01  1.121000e+01  1.467000e+01  1.871000e+01
2  1.891379e+13  1.780138e+13  1.746166e+13  1.920938e+13  1.682749e+13
3  1.240000e+01  9.610000e+00  7.000000e+00  1.325000e+01  1.334000e+01
4  7.484136e+12  7.543128e+12  7.233795e+12  6.773825e+12  6.849676e+12

        Q2/2015       Q1/2015
0  2.258161e+13  2.220606e+13
1  2.710000e+01  2.728000e+01
2  1.624076e+13  1.631985e+13
3  2.758000e+01  2.882000e+01
4  6.340842e+12  5.886210e+12

[5 rows x 41 columns]
                  CHỈ TIÊU  Q4/2024  Q3/2024  Q2/2024  Q1/2024  Q4/2023  \
0                      P/E    26.89    27.02    24.72    20.59    19.32
1                      P/B     6.78     7.02     6.24     5.33     4.98
2                EV/EBITDA      NaN    13.73    12.43     9.97     9.45
3             EPS (VNĐ/CP)  1418.69  1419.96  1283.96  1231.15  1360.98
4          Tăng trưởng EPS     4.24     3.68     8.04     4.69    10.46

   Q3/2023  Q2/2023  Q1/2023  Q4/2022  ...  Q2/2017  Q1/2017  Q4/2016  \
0    18.65    16.18    16.68    15.61  ...    10.79    10.45     9.95
1     4.49     3.96     4.20     4.11  ...     2.23     2.18     2.19
2     9.16     8.02     8.02     7.71  ...     5.32     4.91     4.91
3  1369.59  1188.39  1176.05  1232.06  ...   963.85   777.77  1432.15
4     3.35     4.23     4.14   -14.09  ...   -14.20     3.35   -13.63

   Q3/2016  Q2/2016  Q1/2016  Q4/2015  Q3/2015  Q2/2015  Q1/2015
0    10.23    10.21     9.81    11.14    10.69    10.41    10.22
1     2.16     2.12     2.20     2.27     2.17     2.10     2.10
2     5.46     5.59     5.58     6.30     5.90     5.89     5.49
3  1018.43  1123.35   752.57  1658.23   978.90  1148.91  1068.47
4     4.04    -2.22   -29.57    26.57   -13.48    -7.60     1.64

[5 rows x 41 columns]
                  CHỈ TIÊU  Q4/2024  Q3/2024  Q2/2024  Q1/2024  Q4/2023  \
0       Biên lợi nhuận gộp    36.80    38.73    37.07    39.10    38.34
1                Biên EBIT    17.57    19.10    18.49    18.96    17.98
2              Biên EBITDA    21.37    23.15    22.63    23.34    22.59
3      Biên lợi nhuận ròng    14.16    15.59    15.01    15.33    13.96
4                  ROE LTM    28.66    28.16    27.96    27.70    28.19

   Q3/2023  Q2/2023  Q1/2023  Q4/2022  ...  Q2/2017  Q1/2017  Q4/2016  \
0    39.94    37.12    39.10    40.19  ...    24.45    22.04    22.48
1    19.58    19.47    19.42    16.45  ...     8.88     8.03     8.91
2    23.63    23.81    23.79    20.28  ...    11.40    10.59    10.98
3    15.08    14.86    15.49    12.42  ...     6.74     5.74     6.71
4    28.06    27.08    26.98    27.70  ...    23.50    23.60    23.82

   Q3/2016  Q2/2016  Q1/2016  Q4/2015  Q3/2015  Q2/2015  Q1/2015
0    22.72    21.58    19.92    20.66    20.10    19.32    19.55
1     8.80     8.95     7.40     9.45     7.07     8.26     7.94
2    11.44    11.30     9.85    12.06     8.26    10.22     9.82
3     6.84     7.03     5.27     7.47     5.45     6.33     6.33
4    24.12    22.81    24.57    26.95    24.89    24.84    26.85

[5 rows x 41 columns]
                                   CHỈ TIÊU  Q4/2024  Q3/2024  Q2/2024  \
0                  Vòng quay tài sản (vòng)     0.25     0.24     0.24
1         Hiệu suất sử dụng tài sản cố định     0.64     0.59     0.59
2        Số ngày thu tiền khách hàng (ngày)   233.34   255.62   250.56
3         Số ngày xử lý hàng tồn kho (ngày)    63.87    73.84    71.14
4      Số ngày phải trả nhà cung cấp (ngày)   141.75   143.22   148.99

   Q1/2024  Q4/2023  Q3/2023  Q2/2023  Q1/2023  Q4/2022  ...  Q2/2017  \
0     0.23     0.24     0.22     0.22     0.23     0.24  ...     0.35
1     0.56     0.60     0.59     0.56     0.54     0.62  ...     1.15
2   251.42   232.80   237.21   250.05   263.01   220.32  ...   193.38
3    73.36    67.51    83.59    95.63   103.93    97.18  ...   218.89
4   149.89   126.78   139.97   152.05   179.24   171.20  ...   156.76

   Q1/2017  Q4/2016  Q3/2016  Q2/2016  Q1/2016  Q4/2015  Q3/2015  Q2/2015  \
0     0.33     0.44     0.38     0.36     0.33     0.42     0.41     0.42
1     1.07     1.45     1.18     1.12     1.10     1.41     1.36     1.44
2   206.72   157.25   181.16   177.03   190.32   159.04   167.12   169.77
3   232.83   170.83   221.72   254.13   279.05   220.51   228.90   233.93
4   184.38   154.08   160.19   155.95   168.35   144.00   172.50   167.42

   Q1/2015
0     0.39
1     1.43
2   183.64
3   247.04
4   171.02

[5 rows x 41 columns]
                                            CHỈ TIÊU  Q4/2024  Q3/2024  \
0                       Nợ phải trả / Vốn chủ sở hữu   101.17    91.10
1      Vay và nợ thuê tài chính ngắn hạn, dài hạn...    41.76    41.41
2                       Nợ vay ròng / Vốn chủ sở hữu   -45.13   -36.00
3                      Tổng tài sản / Vốn chủ sở hữu     2.01     2.03

   Q2/2024  Q1/2024  Q4/2023  Q3/2023  Q2/2023  Q1/2023  Q4/2022  ...  \
0    99.43    95.49   101.43   118.66   111.66    87.51   103.83  ...
1    50.41    52.04    46.90    67.28    68.27    45.66    48.86  ...
2   -31.31   -25.41   -34.52   -26.97   -25.06   -17.72   -27.99  ...
3     2.05     1.92     2.03     2.23     2.25     2.13     2.25  ...

   Q2/2017  Q1/2017  Q4/2016  Q3/2016  Q2/2016  Q1/2016  Q4/2015  Q3/2015  \
0   130.83   133.75   161.29   140.78   132.30   132.03   155.28   137.43
1    72.88    82.74    86.82    77.80    76.22    76.79    86.52    76.64
2     7.54    13.93     3.78     8.63    15.62    23.67    25.17    27.22
3     2.32     2.33     2.58     2.39     2.30     2.47     2.69     2.48

   Q2/2015  Q1/2015
0   127.54   147.51
1    63.89    82.53
2    21.22    24.13
3     2.30     2.49

[4 rows x 41 columns]
                            CHỈ TIÊU  Q4/2024  Q3/2024  Q2/2024  Q1/2024  \
0      Khả năng thanh toán tổng quát     1.99     2.10     2.01     2.05
1          Khả năng thanh toán nhanh     1.25     1.31     1.24     1.23
2       Khả năng thanh toán tức thời     0.89     0.88     0.85     0.85
3        Khả năng thanh toán lãi vay    27.90    28.58    22.98    23.86

   Q4/2023  Q3/2023  Q2/2023  Q1/2023  Q4/2022  ...  Q2/2017  Q1/2017  \
0     1.99     1.84     1.90     2.14     1.96  ...     1.76     1.75
1     1.18     1.14     1.17     1.19     1.18  ...     1.09     1.04
2     0.82     0.81     0.85     0.74     0.79  ...     0.54     0.56
3    16.06    12.24    14.00    18.78    16.90  ...    11.32     8.83

   Q4/2016  Q3/2016  Q2/2016  Q1/2016  Q4/2015  Q3/2015  Q2/2015  Q1/2015
0     1.62     1.71     1.76     1.76     1.64     1.73     1.78     1.80
1     1.00     1.01     0.99     0.96     0.94     0.93     0.93     0.97
2     0.54     0.53     0.50     0.44     0.42     0.38     0.34     0.41
3    13.28    10.70     9.44    13.07    11.98    14.36    14.53    20.78

[4 rows x 41 columns]
                                    CHỈ TIÊU       Q4/2024       Q3/2024  \
0                          Vốn hóa (Tỷ đồng)  2.063910e+14  2.212488e+14
1      Số lượng cổ phiếu lưu hành (Triệu CP)  1.471069e+09  1.471069e+09

        Q2/2024       Q1/2024       Q4/2023       Q3/2023       Q2/2023  \
0  1.964303e+14  1.987670e+14  1.429985e+14  1.202661e+14  1.224250e+14
1  1.460448e+09  1.460448e+09  1.269969e+09  1.269969e+09  1.269969e+09

        Q1/2023       Q4/2022  ...       Q2/2017       Q1/2017       Q4/2016  \
0  9.562960e+13  8.688450e+13  ...  2.665011e+13  2.577416e+13  2.144321e+13
1  1.269981e+09  1.097027e+09  ...  5.308787e+08  5.308787e+08  4.616407e+08

        Q3/2016       Q2/2016       Q1/2016       Q4/2015       Q3/2015  \
0  2.053269e+13  2.002741e+13  1.883312e+13  1.941259e+13  1.864037e+13
1  4.593443e+08  4.593443e+08  4.593443e+08  3.994361e+08  3.974493e+08

        Q2/2015       Q1/2015
0  2.046864e+13  1.879935e+13
1  3.974493e+08  3.974493e+08

[2 rows x 41 columns]